#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#
# Description: Build Kernel using GitHub Actions
# Change from P3TERX
#

name: Debian Kernel Latest

on:
  workflow_dispatch:
  #schedule:
    #- cron: "36 20 * * 1,4"
   # inputs:
    #  ssh:
     #   description: 'SSH connection to Actions'
      #  required: false
       # default: 'false'

env:
  UPLOAD_DIR: true
  UPLOAD_RELEASE: true
  UPLOAD_WETRANSFER: false
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest
    container: docker.io/qctt/kernelbuild:debian12
    
    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Get source code
      id: code
      working-directory: /workdir
      run: |
        df -hT $PWD
        cd /workdir
        git clone https://github.com/unifreq/linux-6.1.y
        echo '::set-output name=action_echo::enabled'
        echo "::set-output name=status::success"
        
    - name: Compile the kernel
      id: compile
      if: steps.code.outputs.status == 'success'
      working-directory: /workdir
      run: |
        kernel_ver=6.1.x
        cd linux-6.1.y
        wget -O .config https://raw.githubusercontent.com/ylx2016/kernel/master/config_elrepo
        sed -ri '/CONFIG_SYSTEM_TRUSTED_KEYS/s/=.+/=""/g' .config
        scripts/config --disable MODULE_SIG
        scripts/config --disable DEBUG_INFO
        scripts/config --disable DEBUG_INFO_BTF
        scripts/config --disable DEBUG_INFO_DWARF4
        scripts/config --disable DEBUG_INFO_DWARF5
        scripts/config --disable DEBUG_INFO_NONE
        scripts/config --disable SYSTEM_TRUSTED_KEYS
        scripts/config --disable SYSTEM_REVOCATION_KEYS
        echo -e "$(nproc) thread compile"
        sudo time make -j$(nproc) bindeb-pkg
        cd /workdir && mv *.deb /workdir/upload
        echo '::set-output name=action_echo::enabled'
        echo "::set-output name=status::success"
        echo "FILE_DATE=Kernel_Debian_$kernel_ver_$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV   

    - name: Check space usage
      if: (!cancelled()) && steps.compile.outputs.status == 'success'
      run: df -hT

    - name: Upload
      uses: actions/upload-artifact@main
      if: steps.compile.outputs.status == 'success' && env.UPLOAD_DIR == 'true'
      with:
        name: ${{ env.FILE_DATE }}
        path: /workdir/upload
        
    - name: Upload to WeTransfer
      id: wetransfer
      if: steps.compile.outputs.status == 'success' && env.UPLOAD_WETRANSFER == 'true' && !cancelled()
      run: |
        curl -fsSL git.io/file-transfer | sh
        ./transfer wet -s -p 16 --no-progress /workdir/upload 2>&1 | tee wetransfer.log
        echo "::warning file=wetransfer.com::$(cat wetransfer.log | grep https)"
        echo '::set-output name=action_echo::enabled'
        echo "::set-output name=url::$(cat wetransfer.log | grep https | cut -f3 -d" ")"     

    - name: Generate release tag
      id: tag
      if: env.UPLOAD_RELEASE == 'true' && steps.compile.outputs.status == 'success' && !cancelled()
      run: |
        kernel_ver=6.1.x
        echo '::set-output name=action_echo::enabled'
        echo "::set-output name=release_tag::Debian_Kernel_${kernel_ver}_test_bbr_$(date +"%Y.%m.%d-%H%M")"
        touch release.txt
        echo '::set-output name=action_echo::enabled'
        echo "::set-output name=status::success"

    - name: Upload kernel to release
      uses: softprops/action-gh-release@v1
      if: steps.tag.outputs.status == 'success' && !cancelled()
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
      with:
        tag_name: ${{ steps.tag.outputs.release_tag }}
        body_path: release.txt
        files: /workdir/upload/*
        
    - name: Delete workflow runs
      uses: GitRML/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 10
